<header>
      <div class="container">
        <div class="grid-one">
          <nav id="product-nav" class="full">
            <li><a href="index.html">Home</a></li>
            <li><a href="products.html">Products</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li>  
                <a href="index.html"><img src="img/EveryBit logo.png" alt="logo" class="mainlogo"/>
            </li>
              <li><a href="mycart.html" class="mycart">My Cart</a></li>
              <li><a href="login.html">Login</a></li>
              <li><a href="register.html">Register</a></li>
          </nav>
        </div>
      </div>
    </header>