@import url(https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Oswald&display=swap);

header{
    background-color: #ffffff; 
    box-shadow: 0 1px 4px #3d3d3d;
    font-family: 'Oswald', sans-serif;
}

img.mainlogo{
    height: 64px;
    padding-left: 240px;
    margin-top: -20px
}

#main{
width:960px;
margin:50px auto;
font-family: 'Osawald', sans-serif;
}

div.hcontainer{
  padding-top: 8px;
  margin: auto;
  width: 80%;
}

div.container{
  padding-top: 8px;
  background-color: #9f49c7;
  margin: 0 auto;
  width: 33%;
}

div.fcontainer{
  padding-top: 8px;
}
div.grid-four{
  padding-top: 5px;
  margin: 0 auto;
  display: inline-grid;
  justify-content: center;
}

div.grid-one{
  padding-top: 5px;
}

.mycart{
  padding-left: 300px;
}

h2{
background-color: #ffffff;
text-align:center;
border-radius: 10px 10px 0 0;
margin: -10px -40px;
padding: 30px;
}

hr{
border:0;
border-bottom:1px solid #ccc;
margin: 10px -40px;
margin-bottom: 30px;
}

#form_layout{
width:300px;
float: left;
border-radius: 10px;
font-family: 'merriweather', serif;
border: 2px solid #ccc;
padding: 10px 40px 25px;
margin-top: -2px;
margin-left: 465px;
background-color: #ffffff;
}

input[type=text],input[type=password],#state{
width:99.5%;
padding: 10px;
margin-top: 8px;
border: 1px solid #ccc;
padding-left: 5px;
font-size: 16px;
font-family: 'merriweather', serif;
}

input[type=submit]{
width: 100%;
background-color:#8aaefc;
color: white;
border: 2px solid #8aaefc;
padding: 10px;
font-size:20px;
cursor:pointer;
border-radius: 5px;
margin-bottom: 15px;
}

a{
text-decoration:none;
color: #ffffff;
}

i{
color: #ffffff;
}

p{
font-size:12px;
color:red;
}

div.copyright{
  text-align: center; padding: 16px;
}