<br />

<main role="main">
    <div  class="carousel slide" data-ride="carousel" id="myCarousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="imgFilter first-slide" src="img/banners/frontpagepic.png" alt="First Slide">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>EasyBit</h1>
                        <p>The shop that keeps on giving.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>