/* body overall */
html, body {
   margin: 0;
   padding: 0;
   width: 100%;
   background-color: #ffffff;
   font-family: 'Oswald', sans-serif;
  }
  
  /* whole header portion */
 .container {
  position: relative;
  top: 80px;
  width: 90%;
  margin: 0 auto;
 }
 .container1 {
  position: fixed;
  width: 100%;
  margin: 0 auto;
  z-index:1;
  background-color: #ffffff;
  box-shadow: 2px 2px 4px rgba(40,40,40,.15), -2px -2px 4px rgba(40,40,40,.15);
 }
 .container2 {
  position:relative;
  width: 100%;
  top: 50px;
  background-color: #ffffff;
  box-shadow: 2px 2px 4px rgba(40,40,40,.15), -2px -2px 4px rgba(40,40,40,.15);
 }
 .full{
  width: 80%;
  float: right;
}
.full2{
  width: 100%;
  float: left;
  display: flex;
  justify-content: center;
  background-color: #8aaefc;
  padding-bottom: 10px;
}
 .grid {
  box-sizing: border-box;
  float: left;
  width:100%;
 }
 .grid-one {
  width: 33%;
  display: flex;
  justify-content: center;
 }
 .grid-two {
  width: 20%;
  height: 100%;
  position: fixed;
  left: 5%;
 }
 .grid-three {
  width: 90%;
}
 .grid-four {
  width: 20%;
  padding-left: 5%;
 }
 .button {
  padding: 4px 8px;
  border-radius: 4px;
  display: inline-block;
 }
 .imagetext {
  padding: 4px 8px;
  border-radius: 4px;
  display: inline-block;
  position: absolute;
  top: 25%;
  left: 5%;
  color: #ffffff;
  font-size: 50px;
 }
 a {
  text-decoration: none;
  color: inherit;
  padding-left: 5%;
 }
 ul {
  list-style-type: none;
 }
 #productfooterlist{
  left: -100px;
 }

 #product-nav {
  list-style: none;
  margin-top: 24px;
  margin-bottom: 15px;
 }
 #product-nav li {
  float: left;
  padding: 8px 16px;
  font-size: 16px;
 }
 #product-nav li a {
  color: #3d3d3d;
 }
 #product-nav li a:hover,
 #product-nav li a:active {
  color: #ff42a7;
 }

.bannerimage {
  position: relative;
  width: 100%;
  top: 85px;
}
/* Make the image responsive */
.bannerimage img {
  width: 100%;
  height: auto;
}
.bannerimage .button {
  position: absolute;
  top: 55%;
  left: 20%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  color: #3d3d3d;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.bannerimage .button:hover {
  background-color: 919191;
}

 .box {
  float: left;
  padding: 25px;
  left:1.5%;
 }
 .box h3 {
  margin: 4px;
 }
 .product {
  position: relative;
  text-align: left;
  cursor: pointer;
  margin-top: 8px !important;
  margin-bottom: 8px !important;
 }
 .product > img {
  margin: 0 auto;
  padding: 8px;
  box-sizing: border-box;
  height: 300px;
  width: auto;
 }
 .product:hover > img {
  box-shadow: 2px 2px 4px rgba(40,40,40,.15), -2px -2px 4px rgba(40,40,40,.15);
 }
 .product h2 {
  margin-top: 4px;
 }
 p {
  font-size: 18px;
 }
 footer {
  margin-top: 32px;
 }
 footer ul {
  list-style: none;
  font-size: 18px;
  padding: 0;
 }
 .detail {
  text-align: center;
  background-color: #efefef;
  padding: 16px 0;
 }
 #demo-img {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  border: 4px solid #ffffff;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .1);
 }
 .button {
  border: 0 none;
  outline: 0 none;
  border-radius: 4px;
  display: inline-block;
  font-size: 16px;
  padding: 4px 8px;
  opacity: .92;
  cursor: pointer;
  color: #cdcefc;
 }
 .button:hover {
  opacity: .96;
 }
 .button:active {
  opacity: 1;
 }
 #price {
  display: block;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 16px;
 }
 .red {
  background-color: #992121;
 }
 .green {
  background-color: #219c21;
 }
 .blue {
  background-color: #21229a;
 }
 form * {
  display: block;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, .15);
  width: 100%;
  margin: 8px 0;
  padding: 4px 8px;
  border-radius: 4px;
 }