<!--Header for every page-->
Handlebars.registerPartial('footer', '{{prefix}}');
<footer>
      <div class="fcontainer">
        <div class="full">
          <div class="grid-four">
            <h4 class="text-blue">PRODUCTS</h4>
            <ul>
              <li><a href="computers.html">Computers</a></li>
              <li><a href="phones.html">Phones</a></li>
              <li><a href="tablets.html">Tablets</a></li>
              <li><a href="gadgets.html">Gadgets</a></li>
              <li><a href="accessories.html">Accessories</a></li>
            </ul>
          </div>
          <div class="grid-four">
            <h4 class="text-blue">CONTACT</h4>
            <ul>
              <li><a href="about.html">About</a></li>
              <li><a href="contact.html">Contact</a></li>
            </ul>
          </div>
          <div class="grid-four"></div>
          <div class="grid-four"></div>
        </div>
      </div>

      <div class="copyright">
        Copyright &copy; 2022, EveryBit.
      </div>
    </footer>