<br />

<main role="main">

    <img class="imgFilter first-slide" src="img/banners/accessories.png" width="100%" height="auto" alt="First Slide">

    <br />
    <br />
    <br />

    <div class="container marketing">
        <div class="row" id="saladDIV"></div>
        <hr class="featurette-divider">
    </div>
</main>

<script src="/js/accesories.js"></script>