<br />

<main role="main">

    <img class="imgFilter first-slide" src="img/banners/computers.png" width="100%" height="auto" alt="First Slide">

    <br />
    <br />
    <br />

    <div class="container marketing">
        <div class="row" id="pcDIV"></div>
        <hr class="featurette-divider">
    </div>

</main>

<script src="/js/computers.js"></script>