<br />

<main role="main">

    <img class="imgFilter first-slide" src="img/banners/computers.png" width="100%" height="auto" alt="First Slide">

    <br />
    <br />
    <br />

    <div class="container marketing">
        <div class="row" id="fruitDIV"></div>
        <hr class="featurette-divider">
    </div>

    <!--
        {{each products}}

        <div class = "row">

            {{# each this}}

                <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img class="card-img-top" background-size="cover;" style="height:16rem;" src="{{this.}}" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">${FRUIT[con - 1].name}</p>
                        <p class="card-text">Price: ${FRUIT[con - 1].price}.00</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button id="${btn}" type="button" onclick="cart('${FRUIT[con - 1].name}','${FRUIT[con - 1].price}','${URL}','${con}','${btn}')" class="btn btn-sm btn-outline-secondary" >Add to cart</button>
                            </div>
                            <small class="text-muted">Free shipping </small>
                        </div>
                    </div>
                </div>
            </div

            {{/each}}

        </div>

        {{/each}}
    -->

</main>

<script src="/js/computers.js"></script>